header {
    background-color: rgba(27, 68, 91, 1);
    padding: 0.5rem;

}

body {
    box-sizing: border-box;
    background-color: rgba(27, 68, 91, 1);
    margin-left: 5vw;
}

h1 {
    margin-left: 1.5rem 0 0 0;
    color: antiquewhite;
    font-size: xxx-large;
    font-weight: bold;
    padding-bottom: 0;
}

h2 {
    color: antiquewhite;
    font-size: large;
    margin: 0;
    padding-bottom: 0;
}

.formul {
    font-size: 1.5rem;
    margin: 0;
    font-weight: bolder;
}

.hero-layout {
  width: 50vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 0;
}

.hero {
  flex: 1;
}

.hero-layout .paisaje {
  display: flex;
  width: 50vw;
  height: 100vh;
  margin-top: 0;
}

.info-contacto {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mapa iframe {
  margin-left: 0%;
  width: 30vw;
  height: 57vh;
  flex-direction: column;
  align-items: start;
}

.contacto form {
  font-size: 1rem;
  width: 30vw;  
  display: flex;
  flex-direction: column;
  gap: 0.6vh;
}

.holder-size {
    font-size: 1.2rem;
    height: 3.5rem;
}

.contacto .btn-submit {
    width: 30vw;
    background-color: green;
    color: antiquewhite;
    font-size: 1.5rem;
    font-weight: bolder;
    height:3rem;
}