header {
    background-color: rgba(27, 68, 91, 1);
    padding: 0.5rem;
}

body {
    box-sizing: border-box;
    background-color: rgba(27, 68, 91, 1);
}


h1 {
    margin: 1.5rem 0 0 0;
    color: antiquewhite;
    font-size: xxx-large;
    font-weight: bold;
    padding-bottom: 0;
}

h2 {
    color: antiquewhite;
    font-size:2rem;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

/* .formul {
    font-size: 1.5rem;
    margin-right: 0;
    font-weight: bolder;
    border: 0.2rem solid rgba(27, 68, 91, 1);
} */

.hero-layout {
    display: flex;
    margin-top: 0;
    margin-left: 2vw;
    position: relative;
}

.hero-layout .paisaje {
    width: 50vw;
    /* height: 60vh; */
    margin-top: 0;
}

.info-contacto {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mapa {
    position: relative;
    width: 100;
    height: 50vh;
}

.mapa iframe {
    position: relative;
    margin-left: 0.5vw;
    width: 45vw;
    height: 40vh;
    flex-direction: column;
    align-items: start;
    
}

.contacto {
    position: relative;
    margin-left: 0.5vw;
}

form {
    position: relative;
    margin-left: 0.2vw;
    height: auto;
    font-size: 1rem;
    width: 45vw;  
    display: flex;
    flex-direction: column;
    gap: 0.4vh;
}

.holder-size {
    font-size: 1.2rem;
    height: 3.5rem;
}

.holder-big {
    font-size: 1.2rem;
    height: 7rem;
}

.btn-submit {
    width: 45vw;
    background-color: rgba(70, 156, 106, 1);
    color: antiquewhite;
    font-size: 1.5rem;
    font-weight: bolder;
    height:3rem;
}

.btn-submit:hover {
    width: 45vw;
    background-color: rgb(41, 147, 53);
    color: antiquewhite;
    font-size: 1.5rem;
    font-weight: bolder;
    height:3rem;
    transition: 0.3s;
}

/* Marcador encima del mapa */
.marcador {
    position: absolute;
    top: 20%;
    left: 83%;
    font-size: 2rem;
    animation: bounce 1s infinite;
    transform: translate(-50%, -100%);
    z-index: 10;
    cursor: pointer;
}

.tooltip {
    display: flex;
    background-color: #fff;
    color: #f80202;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    margin-top: 0.5rem;
    font-size: 1.5rem;
    margin-left: -10rem;
}

/* Animación de bounce*/
@keyframes bounce {
    0%, 100% { 
        transform: translate(-0.5vh) scale(1); 
    }
    50% { 
        transform: translate(-0.5vh) scale(1.1); 
    }
}

@media screen and (max-width: 1024px) {
  .hero-layout {
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0;
  }
  .info-contacto{
    flex-direction: row;
    margin-top: 2rem;
  }
  .hero-layout .paisaje {
    width: 100%;
    height: 60vh;
    margin-top: 0;
}
.contacto form {
  margin-right: 5vw;

}

@media screen and (max-width: 700px) {
 .info-contacto{
    flex-direction: column;
  }

}
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: medium;
  }

  .info-contacto{
    flex-direction: column;
  }

  .hero-layout {
    flex-direction: column;
    height: auto;
  }

  .hero-layout .paisaje {
    width: 100vw;
    height: 40vh;
  }

  .info-contacto {
    width: 100vw;
    height: auto;
  }

  .mapa {
    width: 100vw;
    height: 50vh;
  }

  .hero-layout iframe {
    height: 40vh;
  }

  .contacto {
    width: 100vw;
    padding: 2em;
  }
  
  .contacto .btn-submit {
    width: 100%;
  }

  .contacto form {
    width: 95%;
    height: auto;
    gap: 0.6vh;
  }



  .mapa iframe {
    width: 95vw;
    height: 45vh;
    border: none;
    border-radius: 1em;
}

}